<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>

<body>
    <h1>THE TOTAL NUMBER OF USER IN THIS APP : <%= count%>
    </h1>
    <form method="get" action="/user">
        <button>User list</button>
    </form> <br> <br>
    <form method="get" action="/user/add">
        <button>JOin US NOW!</button>
    </form>


</body>

</html>